<% if(success && success.length){ %>
   <div class="message message-success">
       <span class="icon">&#10003;</span> <!-- Check mark icon -->
       <%= success %>
   </div>
<% } %>  

<% if(error && error.length){ %>
   <div class="message message-error">
       <span class="icon">&#10005;</span> <!-- X mark icon -->
       <%= error %>
   </div>
<% } %>  
